<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <%= link_to "Mine", root_path, :class => 'brand' %>
    <ul class="nav">
      <li class="divider-vertical <%= is_active? :home%>">
        <%= link_to "Home", root_path %>
      </li>
      <!-- <li class="divider-vertical <%= is_active? :help%>"> -->
      <!--   <%= link_to "Help", '#' %> -->
      <!-- </li> -->
      <li class="divider-vertical <%= is_active? :signin%>">
        <%= link_to "Signin", signin_path %>
      </li>
      <li class="divider-vertical <%= is_active? :signup%>">
        <%= link_to "Signup", signup_path %>
      </li>
    </ul>
  </nav>
</header>
